@model TravelApp.Contracts.DTO.UserDto
    @{
        ViewBag.Title = "Edit";
    }

    <h2>Edycja danych</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <p>
        Imie
    </p>
    <p>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </p>
    <p>
        Nazwisko
    </p>
    <p>
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
    </p>
    <p>
        Data urodzenia
    </p>
    <p>
        @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control" })
    </p>
    <p>
        Email
    </p>
    <p>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </p>
    <input type="submit" value="Zapisz" class="form-control"  />
}